
<div class="container d-flex mt-5">
	<div class="col-4">
		<div class="m-3">
			<div class="profile">
				<div class="flex-item"><h3><%=@user.name %></h3></div> 
				<div class="flex-item"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt="photo" style="width:200px; margin-top: 5px; margin-bottom: 8px;"></div>
        <div class="flex-item biography"><%=@user.bio%></div>
        <div class="flex-item link-font" style="color:grey; margin-top:20px;"><%=@user.email %></div>
        <div class="flex-item" style="color:grey">
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-facebook-square"></i>
				</div>
			</div>
		</div>
	</div>



	<div class="col-8">
		<div class="m-3">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active link-font" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:black;">Shows</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link link-font" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color:black">Publications</a>
			  </li>
			</ul>

			<div class="tab-content" id="myTabContent">
  			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  				<%#= link_to '[+]', new_show_path,  {remote: true, 'data-toggle' =>  'modal', 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>

  			<% @shows.each do |s| %>
  				<%= link_to edit_show_path(s) do %>
					<div class="card-product">
					  <%= image_tag(s.photo, size: "260x180")%>
					  <div class="card-product-infos">
					    <h5><%= s.title %></h5>
					    <p><%= s.logline %></p>
					    <%# if (user_signed_in? && (current_user.id == @job.user_id))
    = link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default"%>
					  </div>
					</div>
					<% end %>
					<% end %>
					<%  if (user_signed_in? && current_user.id  == @user.id)%>
  					<div class="d-flex justify-content-end m-3"><button type="button" class="btn btn-primary btn-lg btn_add_show" data-toggle="modal" data-target="#newShow">+</button></div>
					<% end  %>
		   	</div>
		  	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		  	<% @writing.each do |write| %>
		  		<div class="card-writing">
			  		<div style="text-align: left;">
			  			<h5><%= write.title %></h5>
				  		<%=  write.publishing_date %>
					  	from <strong><%=  write.publisher %></strong>
					  	<br>
					  	<p><%=  write.article %></p>
			  		<%#= link_to "->", writing_path(write) %>	
			  		</div>
		  		</div>
		  		<% end  %>
		  	</div>
		</div>
		</div>
	</div>

<!--
<div class="main-carousel">
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
  <div class="carousel-cell"><img src="https://source.unsplash.com/0G2ZxV31kk4" alt=""></div>
-->
  ...

</div>
