<div class="container-fluid mt-5" style="padding: 0 !important; margin: 0 !important;">
  <div class="col-12 p-3" style="position:relative; width: 100%;">
    <div class="d-flex justify-content-start">
		  <% @artworks.each do |artwork| %>
			<div class="index-artworks">
			<%= cl_image_tag(artwork.photo.key, class: "m-3", transformation: { height: 200, crop: 'fit'})%>
			<%= form_with(model: [@panel, artwork]) do |f| %>
			<%= f.number_field :panel_id, value: @panel.id %>
			<%= f.submit as: :button %>
			<% end %>
			</div>
          
      <% end %>
    </div>
  </div>
	<div class="col-12" style="padding: 0 !important; margin: 0 !important;">
		<div class="" style="width: 100%; height: 100vh; background-image: url(<%= cl_image_path(@panel.wall.key)%>)">
		<div class="col-8 d-flex">
        <% @panel_artworks.each do |panel_artwork| %>
          <div class="p-3 artwork" style="width: fit-content; position: absolute; top: <%= panel_artwork.y %>px; left: <%= panel_artwork.x %>px; ">
            <%= cl_image_tag(panel_artwork.photo.key, width: "#{panel_artwork.width}px") %>
            <div style="height: 100%; width: 100%; position: relative;" id="resize-icon">
              <div class="resize-icon" style=" width:20px; height:20px; background-color: gray; position: absolute; bottom: 0; right: 0;"></div>
            </div>
					  <div style="display: none">
						<%= form_with(model: [ @panel, panel_artwork], class: 'coordinate-form') do |f| %>
						<%= f.number_field :x, as: :hidden, class: "coordinate-form-x" %>
						<%= f.number_field :y, as: :hidden, class: "coordinate-form-y" %>
						<%# , oninput: "Rails.fire(this.form, 'submit')" %>
						 <%# onchange: "Rails.fire(this.form, 'submit')" %>
						  <%#= simple_form_for [@panel, panel_artwork], remote: true, html: { class: 'coordinate-form' } do |f| %>
							  <%#= f.input :x, as: :hidden, input_html: { class: 'coordinate-form-x'} %>
								<%#= f.input :y, as: :hidden, input_html: { class: 'coordinate-form-y' } %>
								<%= f.submit as: :hidden, class: 'coordinate-form-submit' %>
						  <% end %>
						</div>
						<div style="display: none">
						  <%= simple_form_for [@panel, panel_artwork], remote: true, html: { class: 'resizable-form'} do |f| %>
							<%= f.input :width, as: :hidden, input_html: { class: 'resizable-form-width'} %>
							<%= f.submit as: :hidden, class: 'resizable-form-submit' %>
							<% end %>
						</div>
          </div>
        <% end %>
      </div>
		</div>
  </div>
</div>

