<div class='container d-flex justify-content-between'>
  <div id="poster-display">
  <%= cl_image_tag(@show.photo.key, transformation: { width: 200, height: 200, crop: 'fit'}) %>
  </div>
  <div class='bg-info flex-fill' id='show-title-statement'>
    <div class='d-flex flex-column align-items-center justify-content-center'>
      <div>
        <h1 class='m-2'><%= @show.title %></h1>
      </div>
			<div><%= @show.logline %></div>
      <div>
        <p class='m-3'><%#= @show.statement %></p>
				<button type="button" class="btn btn-primary btn-lg btn_add_show" data-toggle="modal" data-target="#showNew">edit</button>
      </div>
    </div>
  </div>
</div>


			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:black">Artworks</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color:black">Panels</a>
			  </li>
			</ul>



		<div class="tab-content" id="myTabContent">
  		<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class='container'>
				  <button type="button" data-toggle="modal" data-target="#artworkNew"><div class='add-new-artwork'></div></button>
          <% @artworks.each do |a| %>
          <%= cl_image_tag(a.photo.key, transformation: { width: 200, height: 200, crop: 'fill'})%>
          <% end %>
        	</div>
		</div>

		<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			<div class="container">
			  <%= link_to show_panels_path(@show), method: :post do %>
				  <div class="add-new"></div>
					<% end %>
				<% @panels.each do |p| %>
				<%= link_to edit_panel_path(p) do   %>
  				<%= cl_image_tag(p.wall.key, transformation: { width: 200, height: 200, crop: 'fill'}) %>
          <% end %>
				<% end %>
			</div>
	  	</div>
	</div>

<!--modal for show-cover -->
		<div class="modal fade" id="showNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h4 class="modal-title" id="myModalLabel"></h4>
		</div>
		<div class="modal-body">
			<h1>Create a new Show</h1>

			<%= simple_form_for @show do |f| %>
			  <%= f.input :title %>
			  <%= f.input :photo, as: :file, required: false %>
				<%= f.input :logline, required: false %>
				<div class="modal-footer">
				  <%= f.submit class: 'btn btn-primary' %>
				</div>
			<% end %>
    </div>
  	</div>
	</div>
</div>


	<!-- modal for artowrks-->

		<div class="modal fade" id="artworkNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">x</button>
		<h4 class="modal-title" id="myModalLabel"></h4>
		</div>
		<div class="modal-body">
			<h1 class>Add an artwork</h1>

			<%= simple_form_for [@shows_panel, @artwork] do |f| %>
			  <%= f.input :title %>
			  <%= f.input :photo, as: :file %>
				<%= f.input :artist %>
				<%= f.input :description %>
				<div class="modal-footer">
				  <%= f.submit class: 'btn btn-primary' %>
				</div>
			<% end %>
    </div>
  	</div>
	</div>
</div>


