<div class="home-banner">
</div>

<div style="text-align: center; width: 100vw; margin-bottom: 3.5rem; margin-top: 5rem;">
<h1>Featured Artshows</h1>
</div>

<div class="main-carousel data-flickity">
    <% @shows.each do |s| %>
      <div class="carousel-cell mr-1">
        <%= link_to show_path(s.id) do %>
        <div id="poster">
          <%= cl_image_tag(s.photo.key, width: 300) %>
        </div>
        <% end %>
      </div>
    <% end %>
</div>

<div style="text-align: center; width: 100vw; margin-bottom: 3.5rem; margin-top: 7rem;">
<h1>Recent Artshows</h1>
</div>

<div class='container-fluid'>
  <div class='masonry-grid potato'>
    <% @shows.reverse_each do |s| %>
      <div class='masonry-grid-item'>
      <%= link_to show_path(s.id) do %>
        <div class='card-masonry bingo-hover'>
          <%= cl_image_tag(s.photo.key) %>
          <%# <%= s.logline(class: 'display: none') %> 
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
