<div class="home-banner">
    <div class="home-banner-content">
      <div class="live"><h4>vernissage <br> opening</h4></div>
        <div class="details">
          <h1><span class="underline">I, Tokyo</span></h1>
          <h1>Jacob Aue Sobol</h1>
          <p>Portrait Photography<br>Tokyo, Japan</p>
          <p>19.06.-26.202<br>Vernissage online on gallerieVUE.com</p>
        </div>
      </div>
    </div>
</div>

<div style="text-align: center; width: 100%; margin-bottom: 3.5rem; margin-top: 5rem;">
<h1>Featured Artshows</h1>
</div>

<div class="flick-carousel data-flickity">
    <% @shows.each do |s| %>
      <div class="carousel-cell mr-1">
        <%= link_to show_path(s.id) do %>
        <div id="poster">
          <%= cl_image_tag(s.photo.key, width: 300) %>
        </div>
        <% end %>
      </div>
    <% end %>
</div>

<div style="text-align: center; width: 100%; margin-bottom: 3.5rem; margin-top: 7rem;">
<h1>Recent Artshows</h1>
</div>

<div class='container-fluid'>
  <div class='masonry-grid potato'>
    <% @shows.reverse_each do |s| %>
      <div class='masonry-grid-item'>
      <%= link_to show_path(s.id) do %>
        <div class='card-masonry'>
          <div class="show-hover layer">
            <%= cl_image_tag(s.photo.key) %>
            <div class="d-flex align-items-end show-info pl-2">
              <p><%= s.title  %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
