 <div class='container-fluid'>
  <div id="showCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_1_d1fwgv" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_2_jd9rqo" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_3_ngcxcb" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_4_g1gukq" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_5_yina6z" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_6_rgdjxu" %></div>
    </div>
    <div class="carousel-item image-show">
      <div class="d-block w-100"> <%= cl_image_tag "artwork_7_viigso" %></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#showCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#showCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

